/* Основные стили для текста, кнопок и контейнеров */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.booking-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: justify;
    border-radius: 10px;
}

.booking-form label {
    font-weight: bold;
}

img {
    max-width: 25%;
    height: auto;
}

.description p, .total p, .confirmation p {
    margin: 10px 0;
}

input[type="date"],
input[type="time"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 10%;
}

button {
    background-color: #eb4b4b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

a {
    background-color: #eb4b4b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

button:hover {
    transition: 0.4s;
    background-color: #c94040;
}

a:hover {
    transition: 0.4s;
    background-color: #c94040;
}

button:active {
    transition: 0.2s;
    transform: scale(99%);
}

#loungers, #beds {
    width: 2%;
    text-align: right;
    font-size: 15px;
}

.hidden {
    display: none;
}

.user-data-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
}

input[type="number"] {
    width: 10%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 60%;
    height: 100px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
