html, body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containera {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.admin-controls, .bookings-container {
    padding: 20px;
}

.admin-controls {
    flex: 2;
    border-right: 1px solid #ccc;
}

.bookings-container {
    flex: 3;
    overflow-y: auto;
}

.admin-form {
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
    text-align: center;
}

.booking-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.admin-controls h2, .bookings-container h2 {
    margin-top: 0;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #4CAF50;
}

.checkbox-container .checkmark {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: none;
}

.checkbox-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
